.*.swp
*~
*.o
*.lo
*.a
*.la
*.lai
*.exe

aclocal.m4
configure
config.log
config.status
libtool
config.h
config.h.in

Makefile
Makefile.in
stamp-h1
INSTALL

build/
.deps/
/autom4te.cache/
/scripts/.autostuff
.dirstamp
.config
